@import '../../../styles/colors';

.dialog-container {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
	width: 100%;

	z-index: 100;

	.dialog {
		max-height: 60vh;
		max-width: 60vw;

		background: $light;
		border-radius: 10px;
		box-shadow: 0rem 0.375rem 0.75rem rgba($shadow, 0.2);

		padding: 2rem;

		z-index: 200;

		.dialog-header {
			font-size: 1.25rem;
			font-weight: 600;
			padding: 0rem 0rem 1.25rem;
		}

		.dialog-message {
			font-size: 1rem;
			padding: 0rem 0rem 1.25rem;
		}

		.dialog-buttons {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;

			button {
				padding: 1rem 2rem;
				margin: 0.5rem 0.25rem;
			}
		}
	}

	.backdrop {
		position: fixed;
		height: 100%;
		width: 100%;
	}
}