.detail-container {
    position: relative;
    height: 100vh;

    form {
        padding: 0rem;
        margin: 4rem 15%;
    
        .formField {
            display: flex;
            height: 3rem;
    
            div {
                font-size: 1.125em;
                margin: auto 0rem;
                width: 50%;
    
                &:first-child { text-align: left }
                &:last-child { text-align: right }
            }
        }
    
        .formButton {
            margin: 4rem 0rem;
            text-align: right;
        
            button {
                padding: 0.5rem 1rem;
                font-size: 1.125em;
            }
        }
    }
}