<form #settingsForm="ngForm" (ngSubmit)="setSettings(settingsForm.form.value)">
    <div class="formHeader">
        <h2>Configuración</h2>
    </div>

    <div class="formField">
        <div>
            <mat-label>Filtro</mat-label>
        </div>

        <div>
            <mat-select [(ngModel)]="pictureOptions.filter" name="filter">
                <mat-option *ngFor="let option of filters" value="option.value">{{ option.name }}</mat-option>
            </mat-select>
        </div>
    </div>

    <div class="formField">
        <div>
            <mat-label>Calidad</mat-label>
        </div>

        <div>
            <mat-slider
                [(ngModel)]="pictureOptions.quality" name="quality" color="primary" min="1" max="100" step="1" thumbLabel>
            </mat-slider>
        </div>
    </div>

    <div class="formField">
        <div>
            <mat-label>Rotación</mat-label>
        </div>

        <div>
            <mat-slider
                [(ngModel)]="pictureOptions.rotation" name="rotation" color="primary" min="0" max="360" step="90" thumbLabel>
            </mat-slider>
        </div>
    </div>

    <div class="formButton">
        <button mat-raised-button color="primary" type="submit" [disabled]="!settingsForm.form.valid">Guardar</button>
    </div>
</form>
