form {
    margin: 0px 32px;
    padding: 0px;

    .formHeader {
        h2 {
            margin: 24px 0px;
        }
    }

    .formField {
        display: flex;
        height: 48px;

        div {
            margin: auto 0px;
            font-size: 18px;
            width: 50%;

            &:first-child { text-align: left }
            &:last-child { text-align: right }
        }
    }

    .formButton {
        text-align: right;
        margin: 24px 0px;
    
        button {
            padding: 8px 16px;
            font-size: 18px;
        }
    }
}
