# PiCamera-app
/App/package-lock.json
/App/node_modules
/App/out

# PiCamera-client
/Client/package-lock.json
/Client/node_modules
/Client/out

# PiCamera-server
/Server/package-lock.json
/Server/node_modules
/Server/out