.home-container {
    position: relative;
    height: 100vh;

    .image-grid {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        justify-content: center;

        img {
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
    
            border-radius: 0.5rem;
            margin: 1rem;
    
            width: 1280px;
        }
    }
}