.alertComponent {
    max-height: 80vh;
    max-width: 80vw;

    padding: 24px;

    .alertHeader{
        font-size: 32px;
        font-weight: bold;
        margin: 16px;
    }

    .alertMessage {
        font-size: 18px;
        margin: 16px;
    }
    
    .alertButtons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        button {
            padding: 8px 16px;
            margin: 8px;
            font-size: 18px;
        }
    }
}