<div class="alertComponent">
    <div *ngIf="data.header" class="alertHeader">
        {{ data.header }}
    </div>
    
    <div *ngIf="data.message" class="alertMessage">
        {{ data.message }}
    </div>
    
    <div *ngIf="data.buttons" class="alertButtons">
        <div *ngFor="let button of data.buttons">
            <button *ngIf="button.isPrimary" mat-raised-button color="primary" (click)="onClick(button)">{{ button.name }}</button>
            <button *ngIf="!button.isPrimary" mat-button (click)="onClick(button)">{{ button.name }}</button>
        </div>
    </div>
</div>
