.toast-container {
	position: absolute;
	top: 0;
	right: 0;

	max-width: 40vw;
	width: 512px;
	
	margin: 1rem;
	padding: 0.8rem 1.2rem;
	
	background: white;
	box-shadow: 6px 6px 12px rgba(#000000, 0.2);
	border-radius: 10px  0px 0px 10px;

	z-index: 100;

	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 0.5rem;

		p {
			font-size: 1rem;
			font-weight: 600;
			margin-right: 2rem;
		}

		img {
			height: 20px;
			cursor: pointer;
		}
	}

	.body {
		font-size: 0.75rem;
	}

	&.default {
		border-right: 16px solid #000000;
	}
	
	&.success {
		border-right: 16px solid #339900;
	}
	
	&.warning {
		border-right: 16px solid #ffcc00;
	}
	
	&.danger {
		border-right: 16px solid #cc3300;
	}
}