.settings-container {
	position: relative;
	height: 100vh;

	form {
		max-width: 1000px;
		margin: 0 auto;

		.formField {
			display: flex;
			flex-direction: column;
			padding: 2rem;

			label {
				font-size: 1.125em;
			}

			.input-row {
				position: relative;
				display: flex;
				border-style: none none solid none;

				justify-content: space-between;

				input {
					font-size: 1.125em;
					padding: 1rem;
					width: 100%;
				}

				img {
					height: 2em;
					align-self: center;
					cursor: pointer;
				}
			}
		}

		.changePassword {
			background-color: #f0f0f0;
			border-radius: 16px;
			border: dashed 4px #e61a1a;

			input {
				background-color: #f0f0f0;
			}
		}
		.formButton {
			display: flex;
			flex-direction: column;
			padding: 4rem 2rem 2rem;

			button {
				text-transform: uppercase;
				padding: 0.75rem 1rem;
				font-size: 1.5em;
			}
		}

		.errorMessage {
			font-weight: bold;
			font-size: 1em;
			color: red;
		}
	}

	.removeButton {
		display: flex;
		flex-direction: column;
		padding: 2rem;

		max-width: 936px;
		margin: 0 auto;

		button {
			text-transform: uppercase;
			padding: 0.75rem 1rem;
			font-size: 1.5em;
		}
	}
}
