<toolbar></toolbar>

<div class="page cameras-container">
	<form-container [buttons]="buttons" [fields]="fields" (result)="save($event)"></form-container>

	<placeholder [data]="subscriptions" [isLoading]="false"></placeholder>

	<div class="card-container">
		<div *ngFor="let item of subscriptions" class="card camera-item shadow" (click)="openCamera(item, $event)">
			<div class="header">
				<button class="primary" (click)="editCamera(item, $event)">
					<img src="assets/icons/edit.svg">
				</button>

				<button class="danger" (click)="removeCamera(item, $event)">
					<img src="assets/icons/cross.svg">
				</button>
			</div>

			<p class="body">{{ item?.name }}</p>
		</div>
	</div>
</div>
