<div class="cameras-container">
    <app-toolbar [header]="'page.cameras'"></app-toolbar>

    <form [formGroup]="form" (submit)="sendForm()">
        <div class="formField">
            <label translate>cameras.input</label>
            <div class="inputRow">
                <input formControlName="camera" type="text">
            </div>
        </div>
    
        <div class="formButton">
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
                <span translate>cameras.button</span>
            </button>
        </div>
    </form>

    <div class="camera-list">
        <div class="camera-item" *ngFor="let item of cameras">
            <p class="header">{{ item.name }}</p>
            <p class="description">{{ item.camera_id }}</p>
            <div class="actions">
                <img src="assets/icons/edit.svg">
                <img src="assets/icons/trash.svg" (click)="remove(item)">
            </div>
        </div>
    </div>
</div>
