.cameras-container {
    position: relative;
    height: 100vh;

    form {
        max-width: 1000px;
        margin: 1rem auto;
        padding: 1rem;

        .input-row {
            display: flex;
            justify-content: space-between;

            border-radius: 4rem;

            input {
                font-size: 1.125em;
                margin: 0.5rem 1rem;
                padding: 0.5rem;
                width: 100%;
            }

            button {
                border-radius: 0rem 4rem 4rem 0rem;
                text-transform: uppercase;
                font-size: 1em;
                max-width: 200px;
                width: 60%;
            }
        }
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        justify-content: center;

        margin: 3rem 0rem;
    }

    .item {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;

        border-radius: 0.5rem;
        margin: 1rem;

        width: 300px;

        .row-left {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            background-color: #f0f0f0;

            width: 75%;

            cursor: pointer;
        }

        .row-right {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            background-color: #cdcddd;

            width: 25%;
        }

        .header {
            font-size: 1.25em;
            font-weight: 500;
            margin: 1rem 1rem 0.5rem;
        }

        .description {
            font-size: 1em;
            margin: 0.5rem 1rem 1rem;
        }

        img {
            cursor: pointer;
            margin: 1.5rem 0em;
            height: 2em;

            &:hover {
                transform: scale(1.25);
            }

            &:active {
                transform: translateY(0.125rem);
            }
        }
    }
}