<div class="page register-container">
	<div class="background"></div>
	<div class="form-container">
		<div class="form-card">
			<img class="logo" src="assets/icons/user-add.svg">
			<h1 class="header" translate>register.title</h1>

			<form-container [fields]="fields" (result)="form = $event"></form-container>
			<button class="primary shadow" [disabled]="!form" (click)="register()" translate>button.signUp</button>

			<div class="link-container">
				<a href="/login" translate>register.link</a>
			</div>
		</div>
	</div>
</div>
