<div class="register-container">
    <div class="logo">
        <img src="assets/icons/register.svg">
        <p translate>page.register</p>
    </div>

    <form [formGroup]="form" (submit)="sendForm()">
        <div class="formField">
            <label translate>register.username</label>
            <div class="input-row">
                <input formControlName="username" type="text">
            </div>
            <div *ngIf="hasError('username', 'required')" class="errorMessage" translate>error.required</div>
            <div *ngIf="hasError('username', 'minlength')" class="errorMessage" translate>error.minLength</div>
            <div *ngIf="hasError('username', 'whiteSpace')" class="errorMessage" translate>error.whiteSpace</div>
        </div>
    
        <div class="formField">
            <label translate>register.password-1</label>
            <div class="input-row">
                <input formControlName="password1" type="{{ showPassword1 ? 'text' : 'password' }}">
                <img src="assets/icons/eye-{{ showPassword1 ? 'close' : 'open'}}.svg" (click)="password1Button()">
            </div>
            <div *ngIf="hasError('password1', 'required')" class="errorMessage" translate>error.required</div>
            <div *ngIf="hasError('password1', 'minlength')" class="errorMessage" translate>error.minLength</div>
            <div *ngIf="hasError('password1', 'whiteSpace')" class="errorMessage" translate>error.whiteSpace</div>
        </div>

        <div class="formField">
            <label translate>register.password-2</label>
            <div class="input-row">
                <input formControlName="password2" type="{{ showPassword2 ? 'text' : 'password' }}">
                <img src="assets/icons/eye-{{ showPassword2 ? 'close' : 'open'}}.svg" (click)="password2Button()">
            </div>

            <div *ngIf="hasError('password2', 'required')" class="errorMessage" translate>error.required</div>
            <div *ngIf="hasError('password2', 'minlength')" class="errorMessage" translate>error.minLength</div>
            <div *ngIf="hasError('password2', 'whiteSpace')" class="errorMessage" translate>error.whiteSpace</div>
        </div>
    
        <div class="formButton">
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
                <span translate>register.button</span>
            </button>
        </div>
    </form>
</div>