body {
	height: 100%;
	
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 1em!important;
	margin: 0;

	-webkit-tap-highlight-color: transparent;
}

button {
	cursor: pointer;
	padding: 0rem;

	&:focus {
		outline: none;
	}

	&:active {
		transform: translateY(0.125rem);
	}
}

input {
	border-style: none;

	&:focus {
		outline: none;
	}
}

mat-dialog-container {
	border-radius: 0.75rem!important;
    padding: 0rem!important;
}

.shadow {
	box-shadow: 0rem 0.375rem 0.75rem #00000033;

	&:hover {
		box-shadow: 0rem 0.375rem 1.125rem #00000066;
	}
}
