body {
	height: 100%;
	
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 1em!important;
	margin: 0;

	-webkit-tap-highlight-color: transparent;
}

button {
	cursor: pointer;

	&:focus {
		outline: none;
	}

	&:active {
		transform: translateY(2px);
	}
}

input {
	border-style: none;

	&:focus {
		outline: none;
	}
}

mat-dialog-container {
	border-radius: 12px!important;
    padding: 0px!important;
}

.shadow {
	box-shadow: 0px 5px 10px #00000033;

	&:hover {
		box-shadow: 0px 5px 20px #00000066;
	}
}
