<div class="checkPassword-container">
	<h1 class="title" translate>settings.dialog.title</h1>
	<form [formGroup]="form">
		<div class="input-row">
			<input formControlName="password" type="{{ showPassword ? 'text' : 'password' }}" [placeholder]="'settings.form.password' | translate">
			<img src="assets/icons/eye-{{ showPassword ? 'close' : 'open'}}.svg" (click)="passwordButton()">
		</div>
		<div *ngIf="hasError('password', 'required')" class="errorMessage" translate>error.required</div>
		<div *ngIf="hasError('password', 'minlength')" class="errorMessage" translate>error.minLength</div>
		<div *ngIf="hasError('password', 'whiteSpace')" class="errorMessage" translate>error.whiteSpace</div>

		<div class="buttons">
			<button
				*ngFor="let item of buttons"
				type="button"
				class="{{item?.type}} shadow"
				(click)="dialogResult(item)"
				translate>
				{{ item?.name }}
			</button>
		</div>
	</form>
</div>