@import '../../../../../styles/colors';

.toast-container {
	max-width: 40vw;
	width: 512px;
	
	margin: 1rem;
	padding: 0.8rem 1.2rem;
	
	background: $light;
	box-shadow: 0rem 0.375rem 0.75rem rgba($shadow, 0.2);
	border-radius: 10px  0px 0px 10px;

	pointer-events: auto;

	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 0.5rem;

		p {
			font-size: 1rem;
			font-weight: 600;
			margin-right: 2rem;
		}

		img {
			height: 20px;
			cursor: pointer;
		}
	}

	.body {
		font-size: 0.75rem;
	}

	&.default {
		border-right: 16px solid $dark;
	}
	
	&.success {
		border-right: 16px solid $success;
	}
	
	&.warning {
		border-right: 16px solid $warning;
	}
	
	&.danger {
		border-right: 16px solid $danger;
	}
}