.side-menu-container {
    position: absolute;
    width: 100vw;
    height: 100vh;

    top: 0rem;
    left: 0rem;

    mat-sidenav-container {
        position: unset;
        
        mat-sidenav {
            max-width: 384px;
            width: 75%;

            mat-list-item {
                position: relative;
                display: flex;

                margin: 0.5rem 0rem;
                padding: 0.5rem 0rem;
                height: 2em;

                border-radius: 1.5rem;

                cursor: pointer;

                &:hover {
                    background-color: #80808040;
                }

                img {
                    height: 100%;
                }

                p {
                    padding-left: 1rem;
                    font-size: 1em;
                    margin: 0;
                }
            }
        }
    }
}

.side-menu-content {
    position: relative;
    cursor: pointer;
}
