body {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 1rem!important;
	
	height: 100vh;
	margin: 0;
	
	-webkit-tap-highlight-color: transparent;
}

a {
	&:link {
		color: black;
		text-decoration: none;
	}
	
	&:visited {
		color: black;
		text-decoration: none;
	}
}

button {
	cursor: pointer;

	&:active {
		transform: scale(0.95);
	}

	&:disabled {
		transform: none;
		cursor: default;
	}
}

p {
	white-space: pre-line;
	margin: 0;
}

.focus {
	transition: all 250ms;
	cursor: pointer;

	&:hover {
		transform: scale(1.05);
	}

	&:active {
		transform: scale(0.98);
	}
}

.page {
	max-width: 1024px;
	padding: 5em 0em;
	margin: 0 auto;
}

.shadow {
	box-shadow: 0rem 0.375rem 0.75rem #00000033;
	transition: all 250ms;
	margin: 2em 1em 3em;

	&:hover {
		box-shadow: 0rem 0.375rem 1.125rem #00000066;
	}
}