.toolbar-container {
    display: flex;
    flex-direction: row;

    padding: 1em;

    img {
        height: 32px;
    }

    p {
        padding-left: 1em;
        line-height: 32px;
        font-size: 1.5em;
        margin: 0;
    }
}