@import '~@angular/material/theming';
@import 'src/theme/colors.scss';

@include mat-core();

$PiCamera-primary: mat-palette($primary-palette);
$PiCamera-accent: mat-palette($secondary-palette);
$PiCamera-warn: mat-palette($warn-palette);
$PiCamera-theme: mat-light-theme($PiCamera-primary, $PiCamera-accent, $PiCamera-warn);

@include angular-material-theme($PiCamera-theme);

html, body { 
    height: 100%;
}

body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-icon {
    -webkit-user-select: none;  // Chrome / Safari
    -moz-user-select: none;     // Firefox
    -ms-user-select: none;      // IE 10+
}

mat-dialog-container {
    padding: 0px!important;
}
