@import '../../../styles/colors';

form {
	display: flex;
	flex-direction: column;

	height: 100%;
	width: 100%;
}

.formField {
	padding: 1rem 0rem;
}

.input-row {
	display: flex;
	flex-direction: row;

	flex: 1;

	border-bottom: solid 1px $grey-dark;
	margin: 0.5rem 0rem;
	padding: 0.75rem;

	transition: all 0.2s ease-in-out;

	&:hover {
		border-bottom: solid 1px $dark;
	}

	&.password {
		cursor: pointer;
	}

	&.range {
		display: flex;
		align-items: center;

		border-bottom: none;

		.bubble {
			font-size: 1.25rem;
			text-align: right;
			height: 24px;
			width: 3rem;
		}
	}

	img {
		height: 32px;
		padding-left: 0.75rem;

		&:first-child {
			padding: 0;
		}
	}

	input {
		font-size: 1.25rem;
		width: 100%;

		padding-left: 0.75rem;

		&:first-child {
			padding: 0;
		}

		&[type="range"] {
			-webkit-appearance: none;

			height: 12px;

			background: lighten($grey-light, 10%);
			border-radius: 10px;
			
			cursor: pointer;

			&:hover {
				background: $grey-light;
			}

			&::-webkit-slider-thumb {
				-webkit-appearance: none;

				height: 24px;
				width: 24px;

				background: $secondary;
				border-radius: 50%;
			}

			&::-moz-range-thumb {
				background: red;
				height: 10px;
				width: 10px;
				cursor: pointer;
			}
		}
	}
}

.errorMessage {
	color: $danger;
}