<form [formGroup]="form">
	<div *ngFor="let item of fields" class="formField" [ngSwitch]="item?.type">
		<label translate>{{ item?.label }}</label>

		<div *ngSwitchCase="'password'" class="input-row" style="cursor: pointer">
			<img src="assets/icons/eye-{{ getPasswordButton(item) ? 'close' : 'open'}}.svg" (click)="setPasswordButton(item)">
			<input type="{{ getPasswordButton(item) ? 'text' : 'password' }}" formControlName="{{ item?.id }}" value="{{ item?.value }}">
		</div>

		<div *ngSwitchDefault class="input-row">
			<img *ngIf="item?.icon" src="assets/icons/{{item?.icon}}.svg">
			<input type="text" formControlName="{{ item?.id }}" value="{{ item?.value }}">
		</div>

		<div class="errorMessage" *ngIf="hasError(item?.id, 'required')" translate>error.required</div>
		<div class="errorMessage" *ngIf="hasError(item?.id, 'minlength')" translate>error.minLength</div>
		<div class="errorMessage" *ngIf="hasError(item?.id, 'whiteSpace')" translate>error.whiteSpace</div>
	</div>
</form>