<form [formGroup]="form">
	<div *ngFor="let item of fields" class="formField" [ngSwitch]="item?.type">
		<label translate>{{ item?.label }}</label>

		<div *ngSwitchCase="'dropdown'" class="input-row {{ item.type }} shadow">
			<select formControlName="{{ item.id }}" value="{{ item?.value }}">
				<option *ngFor="let option of item?.params" value="{{ option.key }}" translate>{{ option?.value }}</option>
			</select>
		</div>

		<div *ngSwitchCase="'range'" class="input-row {{ item.type }}">
			<img *ngIf="item?.icon" src="assets/icons/{{item?.icon}}.svg">
			<input type="{{ item.type }}" formControlName="{{ item.id }}" value="{{ item?.value }}" max="{{ item?.max }}" min="{{ item?.min }}" step="{{ item?.step }}">
			<p class="bubble">{{ form.value[item.id] }}</p>
		</div>

		<div *ngSwitchCase="'password'" class="input-row password">
			<img src="assets/icons/eye-{{ getPasswordButton(item) ? 'close' : 'open'}}.svg" (click)="setPasswordButton(item)">
			<input type="{{ getPasswordButton(item) ? 'text' : 'password' }}" formControlName="{{ item.id }}" value="{{ item?.value }}">
		</div>

		<div *ngSwitchDefault class="input-row {{ item.type }}">
			<img *ngIf="item?.icon" src="assets/icons/{{item?.icon}}.svg">
			<input type="{{ item.type }}" formControlName="{{ item.id }}" value="{{ item?.value }}" max="{{ item?.max }}" min="{{ item?.min }}" step="{{ item?.step }}">
		</div>

		<div class="errorMessage" *ngIf="hasError(item.id, 'required')" translate>error.required</div>
		<div class="errorMessage" *ngIf="hasError(item.id, 'minlength')" translate>error.minLength</div>
		<div class="errorMessage" *ngIf="hasError(item.id, 'whiteSpace')" translate>error.whiteSpace</div>
	</div>

	<div class="formButtons">
		<button
			*ngFor="let item of buttons"
			type="{{ item.type }}"
			class="{{item?.type == 'submit' ? 'primary': 'secondary '}} shadow"
			[disabled]="item?.type == 'submit' && !form.valid"
			(click)="submit(item)"
			translate>
			{{ item?.name }}
		</button>
	</div>
</form>