@import '../../../styles/colors';

form {
	display: flex;
	flex-direction: column;

	height: 100%;
	width: 100%;
}

.formField {
	padding: 1rem 2rem;
}

.input-row {
	display: flex;
	flex-direction: row;

	flex: 1;

	border-bottom: solid 1px $grey-dark;
	margin: 0.5rem 0rem;
	padding: 0.75rem;

	transition: all 0.2s ease-in-out;

	&:hover {
		border-bottom: solid 1px $dark;
	}

	img {
		height: 32px;
		padding-left: 0.75rem;

		&:first-child {
			padding: 0;
		}
	}

	input {
		font-size: 1.25rem;
		width: 100%;

		padding-left: 0.75rem;

		&:first-child {
			padding: 0;
		}
	}
}

.errorMessage {
	color: $danger;
}