$primary-blue: #0095f6;
$secondary-blue: #003d66;

$success-green: #339900;
$warning-yellow: #ffcc00;
$danger-red: #cc3300;

$grey-hover: #e4e4e4;
$grey-light: #aaaaaa;
$grey-dark: #565656;

$light: #ffffff;
$dark: #000000;
$shadow: #000000;