$primary: #0095f6;
$secondary: #003d66;

$success: #339900;
$warning: #ffcc00;
$danger: #cc3300;

$grey-light: #aaaaaa;
$grey-dark: #565656;

$light: #ffffff;
$hover: #e4e4e4;
$dark: #000000;
$shadow: #000000;