ngneat-dialog {
	.ngneat-dialog-backdrop {
		padding: 0rem;

		.ngneat-dialog-content {
			max-height: 80vh;
			max-width: 80vw;

			border-radius: 10px;
			padding: 3rem 2em;

			.ngneat-close-dialog {
				display: none;
			}
		}
	}
}