.card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	background: $light;
	border-radius: 10px;
	padding: 1rem;
	margin: 1rem;
}

.focus {
	transition: all 250ms;
	cursor: pointer;

	&:hover {
		transform: scale(1.05);
	}

	&:active {
		transform: scale(0.98);
	}
}

.page {
	display: flex;
	flex-direction: column;

	align-content: center;

	max-width: 1024px;
	padding: 6rem 0rem 0rem;
	margin: 0 auto;
}

.shadow {
	box-shadow: 0rem 0.375rem 0.75rem rgba($shadow, 0.2);
	transition: all 250ms;
	margin: 0.75em;

	&:hover {
		box-shadow: 0rem 0.375rem 1.125rem rgba($shadow, 0.4);
	}

	&:disabled {
		box-shadow: 0rem 0.375rem 0.75rem rgba($shadow, 0.2);
	}
}