a {
	&:link {
		color: $dark;
		text-decoration: none;
	}
	
	&:visited {
		color: $dark;
		text-decoration: none;
	}
}

button {
	display: flex;

	align-self: center;

	padding: 1rem 2rem;
	font-size: 1.25rem;

	border: none;
	border-radius: 10px;
	
	background: $grey-light;
	color: $light;

	cursor: pointer;

	&:hover {
		background: lighten($grey-light, 10%);
	}

	&:active {
		transform: scale(0.95);
	}

	&:disabled {
		background: $grey-light!important;
		transform: none;
		cursor: default;
	}

	&.primary {
		background: $primary;
		color: $light;

		&:hover {
			background: lighten($primary, 10%);
		}
	}

	&.secondary {
		background: $light;
		color: $dark;

		&:hover {
			background: lighten($light, 10%);
		}
	}

	&.danger {
		background: $danger;
		color: $light;

		&:hover {
			background: lighten($danger, 10%);
		}
	}
}

form {
	display: flex;
	flex-direction: column;

	height: 100%;
	width: 100%;
}

h1 {
	white-space: pre-line;
	margin: 0;
}

img {
	align-self: center;
}

input {
	background-color: transparent;
	border: none;
	padding: 0rem;

	&:focus {
		outline: none;
	}
}

p {
	white-space: pre-line;
	margin: 0;
}
