.login-container {
    position: relative;
    height: 100vh;

    .logo {
        display: flex;
        justify-content: center;

        padding: 3rem 2rem;
        
        img {
            height: 10em;
        }
    }

    form {
        max-width: 1000px;
        margin: 0 auto;

        .formField {
            display: flex;
            flex-direction: column;
            padding: 2rem;

            label {
                font-size: 1.125em;
            }

            .input-row {
                position: relative;
                display: flex;
                border-style: none none solid none;

                justify-content: space-between;

                input {
                    font-size: 1.125em;
                    padding: 1rem;
                    width: 100%;
                }
    
                img {
                    height: 2em;
                    align-self: center;
                    cursor: pointer;
                }
            }
        }

        .formButton {
            display: flex;
            flex-direction: column;
            padding: 4rem 2rem;

            button {
                text-transform: uppercase;
                padding: 0.5rem 1rem;
                font-size: 1.5em;
            }
        }

        .errorMessage {
            font-weight: bold;
            font-size: 1em;
            color: red;
        }
    }
}