.login-container {
	height: 100%;

	.form {
		border-radius: 10px;
		padding: 2rem 0rem;

		.formField {
			position: relative;
			padding: 2rem 1.5rem;

			.input-row {
				display: flex;
				flex-direction: row;

				border-bottom: solid 1px grey;
				margin: 0.5rem 0rem;
				padding: 0.5rem;

				transition: all 0.2s ease-in-out;

				&:hover {
					border-bottom: solid 1px black;
				}

				img {
					height: 32px;
				}

				input {
					font-size: 1.25rem;
					padding-left: 0.5rem;
					width: 100%;
				}
			}

			.errorMessage {
				color: red;
			}
		}

		.formButton {
			width: min-content;
			align-self: center;

			padding: 1rem 3rem;
			font-size: 1.25rem;
		}

		.register {
			text-align: center;
			font-size: 1.125rem;
			padding: 2rem 0rem 0rem;

			a:hover {
				text-decoration: underline;
			}
		}
	}
}