<div class="page login-container">
	<div class="background"></div>
	<div class="form-container">
		<div class="form-card">
			<img class="logo" src="assets/icons/logo.svg">
			<h1 class="header" translate>login.title</h1>
			
			<form-container [fields]="fields" (result)="form = $event"></form-container>
			<button class="primary shadow" [disabled]="!form" (click)="login()" translate>button.signIn</button>

			<div class="link-container">
				<a href="/register" translate>login.link</a>
			</div>
		</div>
	</div>
</div>