<mat-toolbar color="primary">
    <mat-icon matRipple [matRippleCentered]="true" (click)="sideMenu.toggle()">menu</mat-icon>
    <mat-label>Pi Camera</mat-label>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sideMenu mode="over">
        <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let page of pageList" (click)="page.action()">
                <div>
                    <mat-icon>{{ page.icon }}</mat-icon>
                    <mat-label>{{ page.name }}</mat-label>
                </div>
            </mat-list-option>
        </mat-selection-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>