mat-toolbar {
    mat-icon {
        vertical-align: middle;
        font-size: 32px;
        height: 32px;
        width: 32px;

        border-radius: 50%;
        padding: 8px;

        cursor: pointer;
    }

    mat-label {
        vertical-align: middle;
        font-size: 28px;
        margin-left: 8px;
    } 
}

mat-sidenav-container {
    height: calc(100% - 64px);
    
    mat-sidenav {
        max-width: 384px;
        width: 75%;

        mat-list-option {
            font-size: 20px;
            
            mat-icon {
                vertical-align: middle;
                font-size: 28px;
                height: 28px;
                width: 28px;
            }

            mat-label {
                vertical-align: middle;
                margin-left: 16px;
            }
        }
    }
    
    mat-sidenav-content {
        background-color: white;
    }
}
