.imageContainer {
    position: relative;

    .imageSpinner{
        mat-spinner {
            margin: 25% auto;
        }
    }
    
    .imageButton{
        position: absolute;
        top: 16px;
        right: 16px;

        button {
            padding: 6px 12px;
            
            mat-icon {
                font-size: 32px;
                height: 32px;
                width: 32px;
            }
        }
    }
}
