<div class="cardContainer">
    <div class="card" *ngFor="let file of files">
        <img *ngIf="!file.isError && file.image" [src]="file.image">
        <img *ngIf="file.isError" src="assets/images/error_404.jpg">

        <div *ngIf="!file.isError && !file.image" class="imageSpinner">
            <mat-spinner></mat-spinner>
        </div>

        <div *ngIf="file.name" class="content">{{ file.name }}</div>
    </div>
</div>

<mat-paginator [length]="length" [pageSize]="10" [pageSizeOptions]="sizeOptions" (page)="pager($event)"></mat-paginator>
