.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 16px;

    .card {
        box-shadow: 0 4px 8px 0 #00000033;
        border-radius: 32px;
        transition: 0.3s;
    
        width: 560px;
        margin: 16px;
    
        &:hover {
            box-shadow: 0 12px 24px 0 #00000033;
        }

        img {
            border-radius: 32px 32px 0px 0px;
        }

        mat-spinner {
            top: 25%;
            margin: 0px auto;
        }

        .imageViewer {
            max-height: 315px;
            max-width: 560px;

            height: calc(100vw * 9 / 16);
            width: 100%;
        }

        .content {
            padding: 16px 32px;
        }
    }
}

mat-paginator {
    font-size: 16px!important;
}