<div class="cardContainer">
    <div class="card" *ngFor="let file of files">
        <div class="imageViewer" *ngIf="!file.image && !file.isError">
            <mat-spinner></mat-spinner>
        </div>
        
        <img class="imageViewer" *ngIf="!file.isError && file.image" [src]="file.image">
        <img class="imageViewer" *ngIf="file.isError" src="assets/images/error_404.jpg">
        
        <div class="content" *ngIf="file.name">{{ file.name }}</div>
    </div>
</div>

<mat-paginator [length]="length" [pageSize]="10" [pageSizeOptions]="sizeOptions" (page)="pager($event)"></mat-paginator>
